@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	color-scheme: light;
	--background-color: #fff;
}

[data-theme='dark'] {
	color-scheme: dark;
	--background-color: #000;
}

html {
	background-color: var(--background-color);
}

/*
  Smolcss by Stephanie:
  from https://smolcss.dev/#smol-stack-layout
 */
.stack {
	display: grid;

	/* we want to apply 1 x 1 area, the name ("stack) doesn't matter */
	grid-template-areas: 'stack';
}

/* every direct tile of the stack class */
.stack > * {
	grid-area: stack;
}
